.container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar"
    "banner banner"
    "img_1 text_1"
    "text_2 text_2"
    "vid_1 vid_1"
    "help quote"
    "footer footer";
    grid-gap: 0.5rem;
    background-color: #ADE8F4;
    
}

.navbar{
    grid-area: navbar;
    line-height: 2;
    padding-left: 5%;
    background-color: #118ba3;


}

.navbar ul {
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin: 0 15px;
    
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    padding: 5px 10px;
}


.banner{
    grid-area: banner;
    background-color: #ADE8F4;
    text-align: center;
    font-size: large;
}

.img_1{
    grid-area: img_1;
   
    text-align: center;
    padding: 5%;
}

.text_1{
    grid-area: text_1;
    
    line-height: 2;
    text-align: justify;
    padding: 5%;

}

.text_2{
    grid-area: text_2;
    
    line-height: 2;
    text-align: justify;
    padding: 5%;
}

.vid_1{
    grid-area: vid_1;
    text-align: center;
    
}

.help{
    grid-area: help;
    border-style: solid;
    border-radius: 10px;
    border-color: #118ba3;
    margin: 10%;
    padding: 5%;
    text-align: left;
}

.quote{
    grid-area: quote;
    border-style: solid;
    border-color: #118ba3;
    border-radius: 10px;
    margin: 10%;
        padding: 5%;
    text-align: center;
    font-style: italic;
}

.footer{
    grid-area: footer;
    background-color: #118ba3;
    text-align: center;
    color: aliceblue;
}


img{
    width: 400px;
    height: auto;
    padding: 5%;
}
